.footer {
  background-color: #181e28;
  color: white;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.wowup {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoRow a {
  color: white;
  font-size: 16px;
}

.infoRow span {
  margin-right: 15px;
  font-size: 16px;
}

.socialIcons {
  display: flex;
  margin-top: 25px;
}

.socialIcons a {
  margin-right: 15px;
  color: white;
}

.socialIcons svg {
  width: 25px;
  height: 25px;
}

.links {
  display: flex;
  margin-top: 25px;
}

.link {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.right {
  position: relative;
 
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 55%;
  max-width: 100%;
  overflow: hidden;
}

.rightContent {
  background-color: rgb(0, 15, 29);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-height: 250px;
  position: relative;
}

.textAndFormContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.textSection {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.textSection h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.textSection p {
  font-size: 16px;
  color: rgb(114 114 114);
}

.contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border-radius: 50px;
  background-color: transparent;
  width: fit-content;
  align-items: center;
}

.input {
  background-color: transparent;
  color: rgb(114 114 114);
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  color: white;
  font-size: 16px;
  width: 140px;
}

.button {
  padding: 10px 15px;
  border: 1px;
  border-radius: 100px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.imageSection {
  position: absolute;
  top: 120px;
  right: -40px;
  width: 220px;
  z-index: 10;
}

.coffeeImage {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}

.textAndFormContainer {
  display: flex;
  flex-direction: column;
}

.hr {
  border: none;
  height: 2px;
  background-color: white;
  width: 100vw;
  position: absolute;
  top: 50px;
  left: 0;
}

@media (max-width: 768px) {
  .statistics-container {
    grid-template-columns: 1fr;
  }
}