body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container chính */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Responsive */
@media (max-width: 1024px) {

    .design,
    .programming {
        font-size: 3.5rem;
    }

    .roundedImage {
        width: 400px;
        height: 250px;
    }

    .scrollingText {
        font-size: 2rem;
    }

    .sc3Layout {
        flex-direction: column;
        text-align: center;
    }

    .experienceText {
        font-size: 36px;
    }
}

@media (max-width: 768px) {

    .design,
    .programming {
        font-size: 2.8rem;
    }

    .roundedImage {
        width: 320px;
        height: 200px;
    }

    .prevButton,
    .nextButton {
        padding: 6px 10px;
    }

    .scrollingText {
        font-size: 1.8rem;
    }

    .sc3Item {
        flex-direction: column;
        text-align: center;
    }

    .number {
        font-size: 4rem;
    }

    .experienceText {
        font-size: 32px;
    }
}

@media (max-width: 480px) {

    .design,
    .programming {
        font-size: 2.5rem;
    }

    .roundedImage {
        width: 100%;
        height: auto;
    }

    .prevButton,
    .nextButton {
        padding: 5px 8px;
    }

    .scrollingText {
        font-size: 1.5rem;
    }

    .sc3Item {
        flex-direction: column;
        text-align: center;
    }

    .number {
        font-size: 3.5rem;
    }

    .experienceText {
        font-size: 28px;
    }
}